<div class="footer-container">
    <footer>
      <p class="footer-p">© <%= new Date().getFullYear(); %> CodeSync, Inc</p>
  
      <a href="/"
        class="footer-a">
        CodeSync.
      </a>
    </footer>
  </div>
  