<div class="main-container">
    <header class="main-header">
        <a href="/"
            class="logo-text">
            <h1>CodeSync</h1>
        </a>

        <ul class="nav">
            <li><a href="/" class="nav-link">Home</a></li>
            <li><a href="#" class="nav-link">Features</a></li>
            <li><a href="/about" class="nav-link">About</a></li>
        </ul>

        <div class="main-header-button">
            <a href="/auth/google" type="button" class="btn">Sign-in</a>
            <a href="/auth/google" type="button" class="btn-primary">Sign-up</a>
        </div>
    </header>
</div>