<div class="container-fluid">
    <header class="main-header">
        <a href="/dashboard/<%= locals.googleId %>" class="logo-text">
            <h1>CodeSync</h1>
        </a>


        <ul class="nav">
            <li><a href="/dashboard/<%= locals.googleId %>" class="nav-link px-2 text-muted">Dashboard</a></li>
            <li><a href="#" class="nav-link">Features</a></li>
            <li><a href="/about" class="nav-link px-2 text-muted">About</a></li>
        </ul>
        <div class="main-header-button">
            <a href="#"><img class="profileImage" src="<%= locals.profileImage %>" alt="" style="height: 40px; width: 40px;"></a>
            <a href="/logout" type="button" class="btn btn-outline-primary">Logout</a>
        </div>

    </header>
</div>