<h1>Dashboard</h1>
<form action="/dashboard/:googleId/create-room" method="POST">
    <input id="roomName" type="text" placeholder="Enter room name" required>
    <button type="submit">Create Room</button>
</form>