<div class="main-page">
    <div>
        <h1 class="main-title">CodeSync</h1>
        <h4 class="main-slogan">Redefining pair programming with next-gen, real-time coding collaboration.</h4>
        <a href="/auth/google" class="btn-primary main-btn">Sign-up</a>
    </div>
    <div>
        <img src="/img/programmer.svg" width="600"  alt="">
    </div>
</div>