
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
}

.nav {
    display: flex;
    justify-content: space-between;
    column-gap: 5rem;
}

.nav li {
    text-decoration: none;
    list-style: none;
}

.main-header-button{
    display: flex;
    column-gap: 1.5rem;
    align-items: center;
}

.profileImage{
    border-radius: 50%;
    padding-top: 7px;
}

.btn-primary {
    background-color: #2231d3;
    border: none;
    color: white;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 30px;
}

.btn {
    background-color: transparent;
    border: 2px solid #2231d3;
    color: #2231d3;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 30px;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background: url("/img/background.jpg"); 
    overflow: scroll;
    color: #333;
    scrollbar-width: none;
}

.main-page{
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 2rem;
    height: 70vh;
}

.main-title{
    font-size: 48px;
}

.main-slogan{
    margin-top: -10px;
    padding-left: 5px;
}

.main-btn{
    margin-top: 30px;
}

.footer-container footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 4rem;
}

.footer-a{
    font-weight: bold;
    font-size: large;
}

.dashboard{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 4rem;
    height: 70vh;
}

#roomName{
    padding: 10px 15px;
    font-size: 18px;
    outline: none;
    border: none;
}

.btn-submit{
    background-color: #2231d3;
    border: none;
    color: white;
    padding: 11px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: -5px;
    margin-top: 4px;
    cursor: pointer;
}
.btn-success{
    background-color: #b39a2d;
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: -5px;
    margin-top: 4px;
    cursor: pointer;
    border-radius: 15px;
}

.mainroom-content{
    display: flex;
    width: 100%;
}

.main-room{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.code-editor{
    width: 100%;
    background-color: #313138;
    color:#718a88;
}

.inandout{
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #313138;
}

.result{
    padding: 28px 25px 0 20px;
    color:#718a88;
}

#input, #output{
    height: 8rem;
    width: 100%;
}

.action-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}

#editor {
    width: 100%;
    height: 80vh;
}


#container {
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    z-index: 1;
}

#waveCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    pointer-events: none; /* So that the canvas does not interfere with other elements */
    z-index: 0;
}

.voice-call{
    margin: 100px 300px;
    display: flex;
    flex-direction: column;
}

.button {
    position: absolute;
    margin: 20px 60px;
    background-color: #6200ea;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 2;
}

.button:hover {
    background-color: #3700b3;
}

.form-select {
    width: 200px;
    padding: 8px 12px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    background-color: #fff;
    font-size: 16px;
    color: #495057;
    cursor: pointer;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-select:hover {
    border-color: #80bdff;
}


.form-select option {
    padding: 8px;
    background-color: #fff;
    color: #495057;
}

.form-select option:hover {
    background-color: #f8f9fa;
}


.rooms-list ul li{
    list-style: none;
    margin: 40px 0;
    background-color: white;
    border: 2px solid blue;
    border-radius:  0 30px 30px 0 ;
    margin: 5px;
    padding: 10px 0;
    width: 100%;
}

.rooms-list ul li a{
    background-color: transparent;
    border-radius: 30px;
    margin: 5px;
    padding: 10px 10rem;
    width: 100%;
}

.rooms-list ul li::before {
    content: counter(list-counter) '. ';
    counter-increment: list-counter; 
    position: relative;
    left: -30px; 
    top: 50%;
    transform: translateY(-50%); 
    width: 20px; 
    height: 20px;
    background-color: rgb(165, 130, 130); 
    border: 2px solid blue;
    border-radius: 30px 0 0 30px; 
    text-align: center;
    line-height: 21px; 
    font-weight: bold;
    padding: 12px 10px;
}

.rooms-list ul {
    margin: 0px ;
    counter-reset: list-counter;
}

::-webkit-scrollbar{
    display: none;
}   